#li-btn{
    margin:auto;
    padding:0.25rem;
    border: 1px solid white;
    margin:0.5rem;
}
.square{
    height: 100px;
    width: 40px;
    background-color: white;
    border:1px solid black;
    transition: background-color 0.3s;
}
.square.active{
   background-color: green; 
}
.square:nth-child(1),
.square:nth-child(3) {
  margin-left:90px
}
