#li-btn{
    margin:auto;
    padding:0.25rem;
    border: 1px solid white;
    margin:0.5rem;
}
.square{
    height: 100px;
    width: 40px;
    background-color: white;
    border:1px solid black;
    transition: background-color 0.3s;
}
.square.active{
   background-color: green; 
}
.square:nth-child(1),
.square:nth-child(3) {
  margin-left:90px
}
.container{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tab-container{
    display: flex;
    flex-direction: row;
    gap:5px;
}
.tab{
    border:1px solid black;
    padding:0.75rem;
    font-weight: 700;
}
.form-container{
    border: 1px solid black;
}
.form-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 10px;

    input{
        padding:0.75rem;
    }
}
.navigation-buttons{
    padding:0.75rem;
}
.error{
    color:red;
    font-size: 0.75rem;
}