*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width:60%;
    margin: auto;
    padding:10px;
}
input
{
    padding:10px;
    width: 100%;
}
#suggestion-area
{
    border:2px solid red;
    padding:10px;
    height: 300px;
    width: 100%;
    margin-top: 10px;
    display: none;
}
ul li{
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    margin-left:20px;
}
